
QLabel {
    background: rgb(68, 69, 73);
    border: 1px solid green;
    color: rgb(255, 255, 255);
    width: 15px;
    height: 12px;
    outline: none;
}

QDialog#DialogShow {
    background-color:rgba(0,48,77,0.7);
    border-image:url(./res/img/dog.jpg);
}


